In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("D:\Shivani\sit\phishing pro\phiusiil+phishing+url+dataset\PhiUSIIL_Phishing_URL_Dataset.csv")
df.head()

,FILENAME,URL,URLLength,Domain,DomainLength,IsDomainIP,TLD,URLSimilarityIndex,CharContinuationRate,TLDLegitimateProb,...,Pay,Crypto,HasCopyrightInfo,NoOfImage,NoOfCSS,NoOfJS,NoOfSelfRef,NoOfEmptyRef,NoOfExternalRef,label
0,521848.txt,https://www.southbankmosaics.com,31,www.southbankmosaics.com,24,0,com,100.0,1.000000,0.522907,...,0,0,1,34,20,28,119,0,124,1
1,31372.txt,https://www.uni-mainz.de,23,www.uni-mainz.de,16,0,de,100.0,0.666667,0.032650,...,0,0,1,50,9,8,39,0,217,1
2,597387.txt,https://www.voicefmradio.co.uk,29,www.voicefmradio.co.uk,22,0,uk,100.0,0.866667,0.028555,...,0,0,1,10,2,7,42,2,5,1
3,554095.txt,https://www.sfnmjournal.com,26,www.sfnmjournal.com,19,0,com,100.0,1.000000,0.522907,...,1,1,1,3,27,15,22,1,31,1
4,151578.txt,https://www.rewildingargentina.org,33,www.rewildingargentina.org,26,0,org,100.0,1.000000,0.079963,...,1,0,1,244,15,34,72,1,85,1

### Conversion of categorical(encoded as numeric) columns to category dtype

In [10]:
# Display whether the column is categorical or numerical def identify_column_type(column):
'''  dtype = df[column].dtype
    unique_values = df[column].nunique()
    num_values = len(df[column])
    
    # Criteria for categorical data encoded as numbers
    if pd.api.types.is_numeric_dtype(dtype):
        if unique_values < 10:  # Example threshold for potential categorical
            # Further check for categorical patterns
            return 'Categorical (Encoded as Numeric)'
        else:
            return 'Numerical'
    elif pd.api.types.is_string_dtype(dtype) or pd.api.types.is_categorical_dtype(dtype):
        return 'Categorical'
    else:
        return 'Other'

# Determine column types
print("Column Name, Data Type, Type Category:")
for column in df.columns:
    column_type = identify_column_type(column)
    if column_type=='Categorical (Encoded as Numeric)':
        df[column]=df[column].astype('category')
    print(f"Column Name: {column}, Data Type: {df[column].dtype}, Type Category: {column_type}")'''

'  dtype = df[column].dtype\n    unique_values = df[column].nunique()\n    num_values = len(df[column])\n    \n    # Criteria for categorical data encoded as numbers\n    if pd.api.types.is_numeric_dtype(dtype):\n        if unique_values < 10:  # Example threshold for potential categorical\n            # Further check for categorical patterns\n            return \'Categorical (Encoded as Numeric)\'\n        else:\n            return \'Numerical\'\n    elif pd.api.types.is_string_dtype(dtype) or pd.api.types.is_categorical_dtype(dtype):\n        return \'Categorical\'\n    else:\n        return \'Other\'\n\n# Determine column types\nprint("Column Name, Data Type, Type Category:")\nfor column in df.columns:\n    column_type = identify_column_type(column)\n    if column_type==\'Categorical (Encoded as Numeric)\':\n        df[column]=df[column].astype(\'category\')\n    print(f"Column Name: {column}, Data Type: {df[column].dtype}, Type Category: {column_type}")'

In [3]:
df.head()

,FILENAME,URL,URLLength,Domain,DomainLength,IsDomainIP,TLD,URLSimilarityIndex,CharContinuationRate,TLDLegitimateProb,...,Pay,Crypto,HasCopyrightInfo,NoOfImage,NoOfCSS,NoOfJS,NoOfSelfRef,NoOfEmptyRef,NoOfExternalRef,label
0,521848.txt,https://www.southbankmosaics.com,31,www.southbankmosaics.com,24,0,com,100.0,1.000000,0.522907,...,0,0,1,34,20,28,119,0,124,1
1,31372.txt,https://www.uni-mainz.de,23,www.uni-mainz.de,16,0,de,100.0,0.666667,0.032650,...,0,0,1,50,9,8,39,0,217,1
2,597387.txt,https://www.voicefmradio.co.uk,29,www.voicefmradio.co.uk,22,0,uk,100.0,0.866667,0.028555,...,0,0,1,10,2,7,42,2,5,1
3,554095.txt,https://www.sfnmjournal.com,26,www.sfnmjournal.com,19,0,com,100.0,1.000000,0.522907,...,1,1,1,3,27,15,22,1,31,1
4,151578.txt,https://www.rewildingargentina.org,33,www.rewildingargentina.org,26,0,org,100.0,1.000000,0.079963,...,1,0,1,244,15,34,72,1,85,1

### Removing unneccessary columns

In [4]:
df.drop(["FILENAME","URL","Domain"], axis=1, inplace=True)

In [5]:
df.head()

,URLLength,DomainLength,IsDomainIP,TLD,URLSimilarityIndex,CharContinuationRate,TLDLegitimateProb,URLCharProb,TLDLength,NoOfSubDomain,...,Pay,Crypto,HasCopyrightInfo,NoOfImage,NoOfCSS,NoOfJS,NoOfSelfRef,NoOfEmptyRef,NoOfExternalRef,label
0,31,24,0,com,100.0,1.000000,0.522907,0.061933,3,1,...,0,0,1,34,20,28,119,0,124,1
1,23,16,0,de,100.0,0.666667,0.032650,0.050207,2,1,...,0,0,1,50,9,8,39,0,217,1
2,29,22,0,uk,100.0,0.866667,0.028555,0.064129,2,2,...,0,0,1,10,2,7,42,2,5,1
3,26,19,0,com,100.0,1.000000,0.522907,0.057606,3,1,...,1,1,1,3,27,15,22,1,31,1
4,33,26,0,org,100.0,1.000000,0.079963,0.059441,3,1,...,1,0,1,244,15,34,72,1,85,1

In [6]:
df.select_dtypes("object")

        TLD                                              Title
0       com  à¸‚à¹ˆà¸²à¸§à¸ªà¸” à¸‚à¹ˆà¸²à¸§à¸§à¸±à¸™à¸™à¸µ...
1        de              johannes gutenberg-universitÃ¤t mainz
2        uk                               voice fm southampton
3       com  home page: seminars in fetal and neonatal medi...
4       org                     fundaciÃ³n rewilding argentina
...     ...                                                ...
235790  com                                     skincareliving
235791   uk                                      winchestergov
235792   be                                   nononsensedesign
235793  dev          patient-cell-40f5updatedlogmyloginworkers
235794  com                                 alternativefinland

[235795 rows x 2 columns]

In [25]:
df=df.drop('Title',axis=1)

In [26]:
df.head()

,URLLength,DomainLength,IsDomainIP,TLD,URLSimilarityIndex,CharContinuationRate,TLDLegitimateProb,URLCharProb,TLDLength,NoOfSubDomain,...,Crypto,HasCopyrightInfo,NoOfImage,NoOfCSS,NoOfJS,NoOfSelfRef,NoOfEmptyRef,NoOfExternalRef,label,encoded_TLD
0,31,24,0,com,100.0,1.000000,0.522907,0.061933,3,1,...,0,1,34,20,28,119,0,124,1,231
1,23,16,0,de,100.0,0.666667,0.032650,0.050207,2,1,...,0,1,50,9,8,39,0,217,1,254
2,29,22,0,uk,100.0,0.866667,0.028555,0.064129,2,2,...,0,1,10,2,7,42,2,5,1,647
3,26,19,0,com,100.0,1.000000,0.522907,0.057606,3,1,...,1,1,3,27,15,22,1,31,1,231
4,33,26,0,org,100.0,1.000000,0.079963,0.059441,3,1,...,0,1,244,15,34,72,1,85,1,503

In [27]:
df.select_dtypes("object")

        TLD
0       com
1        de
2        uk
3       com
4       org
...     ...
235790  com
235791   uk
235792   be
235793  dev
235794  com

[235795 rows x 1 columns]

In [28]:
a = df.groupby("TLD")["label"].count().nlargest(50)
a

TLD
com     112554
org      18793
net       7097
app       6508
uk        6395
co        5422
io        4201
de        3996
ru        3875
au        2979
dev       2345
top       2329
jp        2219
it        1887
edu       1861
fr        1858
br        1846
nl        1727
ca        1614
info      1566
site      1482
xyz       1473
link      1463
in        1379
pl        1339
gov       1276
cf        1203
ga        1111
us        1108
me        1006
ml         995
cn         993
eu         980
id         802
es         705
se         704
be         696
nz         614
cz         587
ch         560
ro         549
at         517
club       517
za         508
gr         500
mx         498
gq         493
page       490
ie         468
biz        429
Name: label, dtype: int64

In [9]:
b = df.groupby(["TLD","label"])["IsDomainIP"].count().nsmallest(10)
b

TLD       label
100       0        1
107       0        1
11        0        1
110       0        1
111       0        1
121       0        1
125       0        1
126       0        1
126:8080  0        1
133:8080  0        1
Name: IsDomainIP, dtype: int64

### Checking correlation between TLD and Label column

### 1. Chi Square test- 
P-value: If the p-value is less than your significance level (e.g., 0.05), you can reject the null hypothesis and conclude that there is a significant association between TLD and label.

In [10]:

from scipy.stats import chi2_contingency

# Assuming df is your DataFrame
# Create a contingency table
contingency_table = pd.crosstab(df['TLD'], df['label'])

# Perform Chi-Square test
chi2, p, dof, expected = chi2_contingency(contingency_table)

# Results
print(f"Chi-Square value: {chi2}")
print(f"P-value: {p}")

Chi-Square value: 72412.58849663034
P-value: 0.0

### 2. Cramér's V
Cramér's V is a measure of association between two nominal variables, giving a value between 0 and 1, where 0 indicates no association and 1 indicates perfect association. A higher value (closer to 1) indicates a stronger association between TLD and label.

In [11]:


# Compute Cramér's V
def cramers_v(confusion_matrix):
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum()
    r, k = confusion_matrix.shape
    return np.sqrt(chi2 / (n * (min(r, k) - 1)))

# Apply to the contingency table
cramers_v_value = cramers_v(contingency_table.values)
print(f"Cramér's V: {cramers_v_value}")

Cramér's V: 0.5541658258060268

### 3. Point-Biserial Correlation (If label is binary)
To measure the strength of association between the binary label and the categorical TLD. The value ranges from -1 to 1, where values closer to 1 or -1 indicate a stronger correlation.

In [13]:
from scipy.stats import pointbiserialr
from sklearn.preprocessing import LabelEncoder

# Encode the TLD column
le = LabelEncoder()
encoded_TLD = le.fit_transform(df['TLD'])

# Calculate the point-biserial correlation
corr, p_value = pointbiserialr(df['label'], encoded_TLD)

print(f"Point-Biserial Correlation: {corr}")
print(f"P-value: {p_value}")

Point-Biserial Correlation: 0.03927092389732449
P-value: 3.9425036205795503e-81

In [14]:
encoded_TLD

array([231, 254, 647, ..., 157, 258, 231])

### The TLD column should be considered an important feature for any predictive modeling or decision-making process related to identifying phishing websites. The statistical tests (Chi-Square, Cramér's V) strongly support its relevance.

In [29]:
X = df.drop(["label"],axis=1)
y = df["label"]

In [30]:
le = LabelEncoder()
df['encoded_TLD'] = le.fit_transform(df['TLD'])
# Step 2: Add the encoded column to your feature matrix
# Assuming 'X' is your feature matrix containing other features
X = df.drop(['TLD'], axis=1)  # Drop the original 'TLD' column if it was part of X
X['encoded_TLD'] = df['encoded_TLD']  # Add the encoded 'TLD' column

# Step 3: Convert DataFrame to a NumPy array if needed (Optional, depends on the function)
X = np.asarray(X).astype(np.float64)  # Ensure all data is numeric and of type float

#### Alternate method for forward selection

In [39]:

import statsmodels.api as sm

def forwardElimination(X, y, SL):
   
    # Convert X to DataFrame if it's not already
    if isinstance(X, np.ndarray):
        X = pd.DataFrame(X)
    
    initial_features = X.columns.tolist()
    selected_features = []
    remaining_features = initial_features.copy()
    dependent_variable = y
    
    while remaining_features:
        p_values = []
        for feature in remaining_features:
            features_to_test = selected_features + [feature]
            X_train = sm.add_constant(X[features_to_test])
            model = sm.OLS(dependent_variable, X_train).fit()
            p_value = model.pvalues[feature]
            p_values.append((feature, p_value))
        
        # Find feature with minimum p-value
        p_values = sorted(p_values, key=lambda x: x[1])
        best_feature, best_p_value = p_values[0]
        
        if best_p_value < SL:
            selected_features.append(best_feature)
            remaining_features.remove(best_feature)
            print(f"Added feature '{best_feature}' with p-value {best_p_value:.4f}")
        else:
            print(f"No more features to add with p-value < {SL}")
            break
    
    # Fit final model
    X_train = sm.add_constant(X[:, selected_features])
    regressor_OLS = sm.OLS(dependent_variable(int), X_train.astype(int)).fit()
    return selected_features, regressor_OLS

In [40]:


# Step 2: Add the encoded column to your feature matrix
# Assuming 'X' is your feature matrix containing other features
X = df.drop(['TLD'], axis=1)  # Drop the original 'TLD' column if it was part of X
X['encoded_TLD'] = df['encoded_TLD']  # Add the encoded 'TLD' column

# Step 3: Convert DataFrame to a NumPy array if needed (Optional, depends on the function)
X = np.asarray(X).astype(np.float64)  # Ensure all data is numeric and of type float

# Step 4: Perform forward elimination
SL = 0.05
selected_features, regressor_OLS = forwardElimination(X, y, SL)

# Output selected features
print("Selected Features:", selected_features)

# Summary of the final model
print(regressor_OLS.summary())

Added feature '0' with p-value 0.0000
Added feature '1' with p-value 0.0000
Added feature '3' with p-value 0.0000
Added feature '5' with p-value 0.0000
Added feature '10' with p-value 0.0000
Added feature '11' with p-value 0.0000
Added feature '12' with p-value 0.0000
Added feature '13' with p-value 0.0000
Added feature '14' with p-value 0.0000
Added feature '6' with p-value 0.0000
Added feature '2' with p-value 0.0000
Added feature '8' with p-value 0.0000
Added feature '15' with p-value 0.0000
Added feature '16' with p-value 0.0000
Added feature '17' with p-value 0.0000
Added feature '19' with p-value 0.0000
Added feature '18' with p-value 0.0000
Added feature '21' with p-value 0.0000
Added feature '4' with p-value 0.0000
Added feature '20' with p-value 0.0000
Added feature '22' with p-value 0.0000
Added feature '24' with p-value 0.0000
Added feature '25' with p-value 0.0000
Added feature '27' with p-value 0.0000
Added feature '28' with p-value 0.0000
Added feature '29' with p-value 0.0000
Added feature '32' with p-value 0.0000
Added feature '36' with p-value 0.0000
Added feature '37' with p-value 0.0000
Added feature '43' with p-value 0.0000
Added feature '50' with p-value 0.0000
Added feature '7' with p-value 0.0000
Added feature '23' with p-value 0.0000
Added feature '33' with p-value 0.0000
Added feature '26' with p-value 0.0000
Added feature '48' with p-value 0.0000
Added feature '38' with p-value 0.0000
Added feature '34' with p-value 0.0000
Added feature '51' with p-value 0.0000
Added feature '44' with p-value 0.0000
Added feature '46' with p-value 0.0000
No more features to add with p-value < 0.05

KeyError: (slice(None, None, None), [0, 1, 3, 5, 10, 11, 12, 13, 14, 6, 2, 8, 15, 16, 17, 19, 18, 21, 4, 20, 22, 24, 25, 27, 28, 29, 32, 36, 37, 43, 50, 7, 23, 33, 26, 48, 38, 34, 51, 44, 46])

In [ ]:
X.shape, y.shape

((235795, 52), (235795,))

#### Forward Selection

In [ ]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (2.1.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
    --------------------------------------- 0.0/1.4 MB 325.1 kB/s eta 0:00:05
   - -------------------------------------- 0.0/1.4 MB 279.3 kB/s eta 0:00:06
   -- ------------------------------------- 0.1/1.4 MB 416.7 kB/s eta 0:00:04
   --- ------------------------------------ 0.1/1.4 MB 479.3 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/1.4 MB 615.9 kB/s eta 0:00:03
   ------- -------------------------------- 0.3/1.4 MB 883.3 kB/s eta 0:00:02
   --------- ------------------------------ 0.3/1.4 MB 952.6 kB/s eta 0:00:02
   --------- ------------------------------ 0.4/1.4 MB 890.4 kB/s eta 0:00:02
   ---------- ----------------------------- 0.4/1.4 MB 865.0 kB/s eta 0:00:02
   ----------- ---------------------------- 0.4/1.4 MB 873.3 kB/s eta 0:00:02
   ------------- -------------------------- 0.5/1.4 MB 898.6 kB/s eta 0:00:02
   --------------- ------------------------ 0.6/1.4 MB 974.4 kB/s eta 0:00:01
   ---------------- ----------------------- 0.6/1.4 MB 894.6 kB/s eta 0:00:01
   ---------------- ----------------------- 0.6/1.4 MB 899.0 kB/s eta 0:00:01
   ------------------ --------------------- 0.7/1.4 MB 911.5 kB/s eta 0:00:01
   ------------------- -------------------- 0.7/1.4 MB 914.8 kB/s eta 0:00:01
   -------------------- ------------------- 0.7/1.4 MB 890.4 kB/s eta 0:00:01
   -------------------- ------------------- 0.7/1.4 MB 890.4 kB/s eta 0:00:01
   -------------------- ------------------- 0.7/1.4 MB 890.4 kB/s eta 0:00:01
   -------------------- ------------------- 0.7/1.4 MB 890.4 kB/s eta 0:00:01
   -------------------- ------------------- 0.7/1.4 MB 890.4 kB/s eta 0:00:01
   -------------------- ------------------- 0.7/1.4 MB 890.4 kB/s eta 0:00:01
   ---------------------- ----------------- 0.8/1.4 MB 759.9 kB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.4 MB 760.1 kB/s eta 0:00:01
   --------------------------- ------------ 1.0/1.4 MB 817.2 kB/s eta 0:00:01
   --------------------------- ------------ 1.0/1.4 MB 823.2 kB/s eta 0:00:01
   ----------------------------- ---------- 1.1/1.4 MB 821.1 kB/s eta 0:00:01
   ----------------------------- ---------- 1.1/1.4 MB 821.1 kB/s eta 0:00:01
   ------------------------------- -------- 1.1/1.4 MB 807.8 kB/s eta 0:00:01
   ------------------------------- -------- 1.1/1.4 MB 807.8 kB/s eta 0:00:01
   --------------------------------- ------ 1.2/1.4 MB 812.4 kB/s eta 0:00:01
   --------------------------------- ------ 1.2/1.4 MB 812.4 kB/s eta 0:00:01
   ---------------------------------- ----- 1.2/1.4 MB 778.7 kB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.4 MB 782.3 kB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.4 MB 802.3 kB/s eta 0:00:01
   -------------------------------------- - 1.4/1.4 MB 817.8 kB/s eta 0:00:01
   ---------------------------------------  1.4/1.4 MB 811.8 kB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 801.0 kB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

In [41]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
from sklearn.linear_model import LinearRegression

### for 4 features, we can do for all features
The first parameter is the model name, lreg, which is basically our linear regression model.

k_features tells us how many features should be selected. We’ve passed 4 so the model will train until 4 features are selected.

Now here’s the difference between implementing the Backward Elimination Method and the Forward Feature Selection method, the parameter forward will be set to True. This means training the forward feature selection model. We set it as False during the backward feature elimination technique.

Next, verbose = 2 will allow us to bring the model summary at each iteration.

And finally, since it is a regression model scoring based on the mean squared error metric, we will set scoring = ‘neg_mean_squared_error’

In [42]:
lreg = LinearRegression()
sfs1 = sfs(lreg, k_features=4, forward=True, verbose=2, scoring='neg_mean_squared_error')

In [43]:
sfs1 = sfs1.fit(X, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  52 out of  52 | elapsed:    7.3s finished

[2024-08-28 22:44:42] Features: 1/4 -- score: -1.7734492862029526e-27[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  51 out of  51 | elapsed:   13.7s finished

[2024-08-28 22:44:55] Features: 2/4 -- score: -8.468320933881309e-32[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:   17.5s finished

[2024-08-28 22:45:13] Features: 3/4 -- score: -4.888628376773439e-32[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  49 out of  49 | elapsed:   32.0s finished

[2024-08-28 22:45:45] Features: 4/4 -- score: -8.782739277887232e-32

In [44]:
feat_names = list(sfs1.k_feature_names_)
print(feat_names)

['6', '8', '31', '50']

In [45]:
df.head()

,URLLength,DomainLength,IsDomainIP,TLD,URLSimilarityIndex,CharContinuationRate,TLDLegitimateProb,URLCharProb,TLDLength,NoOfSubDomain,...,Crypto,HasCopyrightInfo,NoOfImage,NoOfCSS,NoOfJS,NoOfSelfRef,NoOfEmptyRef,NoOfExternalRef,label,encoded_TLD
0,31,24,0,com,100.0,1.000000,0.522907,0.061933,3,1,...,0,1,34,20,28,119,0,124,1,231
1,23,16,0,de,100.0,0.666667,0.032650,0.050207,2,1,...,0,1,50,9,8,39,0,217,1,254
2,29,22,0,uk,100.0,0.866667,0.028555,0.064129,2,2,...,0,1,10,2,7,42,2,5,1,647
3,26,19,0,com,100.0,1.000000,0.522907,0.057606,3,1,...,1,1,3,27,15,22,1,31,1,231
4,33,26,0,org,100.0,1.000000,0.079963,0.059441,3,1,...,0,1,244,15,34,72,1,85,1,503

#### Alternate method

In [52]:
import statsmodels.api as sm

def forwardElimination(X, y, SL):
    numVars = X.shape[1]
    selected_features = list(range(numVars))
    
    for i in range(numVars):
        X_train = sm.add_constant(X[:, selected_features])  # Ensure X is sliced correctly
        regressor_OLS = sm.OLS(y, X_train).fit()
        maxPVal = max(regressor_OLS.pvalues)
        if maxPVal > SL:
            for j in range(len(regressor_OLS.pvalues)):
                if regressor_OLS.pvalues[j] == maxPVal:
                    selected_features.pop(j)
                    break
                    
    X_train = sm.add_constant(X[:, selected_features])  # Final model
    regressor_OLS = sm.OLS(y, X_train).fit()
    
    return selected_features, regressor_OLS

In [53]:
# Assuming X and y are correctly formatted
SL = 0.05
selected_features, regressor_OLS = forwardElimination(X, y, SL)

# Output selected features
print("Selected Features:", selected_features)

# Summary of the final model
print(regressor_OLS.summary())

C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:
C:\Users\DELL\AppData\Local\Temp\ipykernel_16252\36926664.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if regressor_OLS.pvalues[j] == maxPVal:

Selected Features: [0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 51]
                            OLS Regression Results
==============================================================================
Dep. Variable:                  label   R-squared:                       0.921
Model:                            OLS   Adj. R-squared:                  0.921
Method:                 Least Squares   F-statistic:                 6.842e+04
Date:                Wed, 28 Aug 2024   Prob (F-statistic):               0.00
Time:                        22:57:22   Log-Likelihood:             1.3012e+05
No. Observations:              235795   AIC:                        -2.601e+05
Df Residuals:                  235754   BIC:                        -2.597e+05
Df Model:                          40
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.9782      0.007   -145.596      0.000      -0.991      -0.965
x1             0.0437      0.000    135.092      0.000       0.043       0.044
x2             0.0005   5.47e-05     10.001      0.000       0.000       0.001
x3            -0.2332      0.007    -34.467      0.000      -0.246      -0.220
x4             0.0083   2.88e-05    287.045      0.000       0.008       0.008
x5            -0.0503      0.003    -19.141      0.000      -0.055      -0.045
x6            -0.0791      0.002    -49.914      0.000      -0.082      -0.076
x7            -0.1655      0.043     -3.838      0.000      -0.250      -0.081
x8            -0.0353      0.011     -3.292      0.001      -0.056      -0.014
x9            -0.0032      0.000     -7.716      0.000      -0.004      -0.002
x10            1.2990      0.136      9.568      0.000       1.033       1.565
x11           -0.0435      0.000   -134.130      0.000      -0.044      -0.043
x12            0.0832      0.005     16.680      0.000       0.073       0.093
x13           -0.0440      0.000   -134.464      0.000      -0.045      -0.043
x14            0.2480      0.009     27.437      0.000       0.230       0.266
x15           -0.0767      0.001    -83.491      0.000      -0.078      -0.075
x16            0.0248      0.002     10.702      0.000       0.020       0.029
x17           -0.0337      0.001    -49.978      0.000      -0.035      -0.032
x18           -0.0306      0.000    -64.235      0.000      -0.032      -0.030
x19           -0.8015      0.022    -36.354      0.000      -0.845      -0.758
x20            0.2873      0.001    299.398      0.000       0.285       0.289
x21          1.24e-06   8.99e-08     13.789      0.000    1.06e-06    1.42e-06
x22         1.001e-08    1.9e-09      5.259      0.000    6.28e-09    1.37e-08
x23            0.0236      0.001     22.627      0.000       0.022       0.026
x24            0.0003   2.37e-05     13.439      0.000       0.000       0.000
x25            0.0003    2.3e-05     10.897      0.000       0.000       0.000
x26            0.0377      0.001     54.081      0.000       0.036       0.039
x27            0.0220      0.001     30.097      0.000       0.021       0.023
x28           -0.0175      0.001    -17.333      0.000      -0.020      -0.016
x29            0.0120      0.002      6.778      0.000       0.009       0.016
x30            0.0893      0.001    112.440      0.000       0.088       0.091
x31            0.0003   7.43e-05      4.460      0.000       0.000       0.000
x32            0.0001   5.41e-05      2.670      0.008    3.84e-05       0.000
x33           -0.0054      0.001     -3.720      0.000      -0.008      -0.003
x34            0.1362      0.001    150.078      0.000       0.134       0.138
x35            0.0603      0.001     75.626      0.000       0.059       0.062
x36            0.0182      0.001     23.873      0.000       0.017       0.020
x37            0.0030      0.001      2.795      0.005       0.001       0.005
x38            0.0080      0.001     10.295      0.000       0.006       0.009
x39            0.0039      0.002      2.036      0.042       0.000       0.008
x40         9.283e-05   2.49e-06     37.309      0.000     8.8e-05    9.77e-05
==============================================================================
Omnibus:                    71394.409   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          6312586.183
Skew:                          -0.496   Prob(JB):                         0.00
Kurtosis:                      28.328   Cond. No.                     7.24e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.24e+07. This might indicate that there are
strong multicollinearity or other numerical problems.